header {
  width: 100%;
  background-color: #fff;
  height: 110px;
  display: flex;
  justify-content: center;
  .header__nav {
    display: flex;
    align-items: center;
    height: 100%;
    width: 90%;
    &__logo {
      display: flex;
      width: fit-content;
    }
    &__text {
      padding-left: 1.5vw;
      width: max-content;
      h1 {
        font-family: Roboto Condensed;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 48px;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        color: #846219;
      }
      p {
        font-family: Roboto Condensed;
        font-weight: 300;
        font-size: 1rem;
        line-height: 19px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 5.4px;
        color: #846219;
      }
    }
    &__btn {
      flex-grow: 1;
      flex-basis: auto;
      display: flex;
      ul {
        display: flex;
        margin-left: auto !important;
        li {
          font-weight: 300;
          font-size: 100%;
          line-height: 19px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end;
          letter-spacing: 5.4px;
          text-transform: uppercase;
          color: #846219;
          &:not(:last-child) {
            margin-right: 3vw;
          }
          &:last-child {
            margin-right: 1.5vw;
          }
          a {
            font-weight: 300;
            font-size: 100%;
            line-height: 19px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
            letter-spacing: 5.4px;
            text-transform: uppercase;
            color: #846219;
            font-family: "RobotoCondensed";
            text-decoration: none;
          }
        }
      }
    }
  }
}
